.idea

.venv

__pycache__/

data/pdf_collection/*
!data/pdf_collection/README.md
data/pdf_new/*
!data/pdf_new/README.md
data/tei_xml_collection/*
!data/tei_xml_collection/README.md
data/elasticsearch_data
data/kibana_data
data/ca_certs

data/documents.parquet
data/documents_with_topics.parquet

# contains passwords and config:
.env
