.idea

.venv

__pycache__/

# contains passwords and config:
.env
ingestion_filter*.py

# tests for developpement:
dev-tests.py
*.json

# data template json files
!authors_template.json
!works_template.json
